.textarea{
	display:block;
		width:80%;
		margin:20px auto;
		background-color:#f3f3f3;
		color:#949393;
		border:0;
		padding:8px;
		border-radius:5px;
}
.url{
	width:60%;
	margin: 20px 0;
	background-color:#f3f3f3;
		color:#949393;
		border:0;
		padding:8px;
		border-radius:5px;
}

.submit{
	background-color: #990000;
    color: white;
    border-radius: 0;
    width: 120px;
    height: 35px;
    border: 0;
    margin: 30px auto 0;
    text-align: center;
}