body{
	padding-top:80px;
	.C-rounds{
		background-image:url("../imgs/roundsImg.jpg");
		background-size:cover;
		margin-top:40px;
		.alpha{	
			background-color: rgba(198,198,200,0.8);
			padding:30px 0;

			img{
				width: 100%;
				
			}
			.date{
				margin-top: 25px;
				border-right:1px solid $darkgray;
			    padding-right: 10px;			
				.month{
					color:$maroon;
					font-size:70px;
					text-align:center;
					margin:0px;
					font-weight:400;
					text-shadow: 1px 1px 1px black; 
					 
				}
				.day{
					color:$darkgray;
					font-size:70px;
					text-align:center;
					margin:0px;
					font-weight:400;
					text-shadow: 1px 1px 1px black;

				}
				.year{
					color:$darkgray;
					font-size:40px;
					text-align:center;
					margin:0px;
					font-weight:400;
					text-shadow: 1px 1px 1px black; 
				}
				
			}
			.col-sm-6{
				text-align: center;
				.content{
					margin-top: 40px;
					text-align: center;
				    display: inline-block;
					.redBtn{
						border-radius:25px;
						padding:4px 40px;
						background-color:$maroon;
						margin-top:20px;
						font-weight:200;
						font-size:18px;
					}
				}
			}
		}
	}

	.prev{
		color:white;
		.alpha{
			background-color: rgba(98,98,100,0.9);
			.date{
				border-right:1px solid white;
				.day{
					color:white !important;

				}
				.month{
					color:white !important;

				}
				.year{
					color:white !important;

				}
			}	
		}
	}

	.space{
		margin-bottom:40px;
	}
}

.background{
	background-image: none !important;
	background-color: white !important;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
		-o-box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.background2{
	background-image: url('../imgs/IRC-classic.png') !important;
	background-size: contain !important;
	background-color: transparent !important;
}