.main{
	background-image:none;
	width:100%;

	nav{
		border-radius:0;
		font-size:$navFont;
		width:100%;
		background-color:#fff;
		box-shadow: 0px 1px 10px rgba(0,0,0,0.3);	
		.navbar-toggle{
			margin-top: 20px;
			background-color: lightgray;
			.icon-bar{
				background-color: gray;
			}
		}
		
		.navbar-header{
			.navbar-brand{
				height:80px !important;
			}
		}
		.navbar-right{
			a{
				padding-top:10px;
			}
		}	

		.ul{
			margin-top:20px;

		}
		.links{
			font-weight:600;
			color: $gray;
		}

		.applyBtn{
			border-radius:25px;
			padding:2px 20px;
			background-color:$maroon;	
			box-shadow: 2px 2px 5px rgba(0,0,0,0.3);

		}
		
		.logIn{
			padding-top:12px !important;
			color:$maroon;
		}

		img{
			width:120px;
		}	
		.active{
		 border-bottom:2px solid $maroon;
		 
		}
		.navbar-right {
			a:hover{
			background-color:transparent !important;
			text-decoration:none !important;
			}
			.btn:active:focus, .btn:focus{
				outline:none !important; 
			}
		}
	}
}