.home{
		background-image:url("../imgs/vid.jpg") !important;
		height:700px;
		background-size:cover;
    	background-position: 50% 50%;
            text-align: center;

    	nav{
  			
    	 background-color:transparent !important;
		box-shadow: none !important;
    	}
    	.audio{
            margin: 200px auto;
    	}
	}
